/*----------
 fontawasome
 ------------ */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
      font-family: 'Poppins', sans-serif;    
}
.head{
      border: 1px solid white;
      padding: 25px;
      margin-left: 45px;
}
.influencers{
      display: flex;
      justify-content:space-between;
      margin: 10px;
      padding-left: 60px;
}
#in{
      transform: scale3d(1.5);
}
.half-weidth{
      width:50% ;
      padding-left: 10px;
      justify-content: center;
}
.half-weidth img{
      width: 60%;
      position: relative;
      overflow: hidden;
}
.link-buttom{
      border: 1px solid orangered;
      border-radius: 15px;
      padding: 10px;
      background-color: orangered;
      text-decoration: none;

}
#camera:hover{
      transform: scale(1.4);
      transition: transform 2s ease-in-out;
}
/* --------
  MAINBODY
  -------- */
.populars{
      text-align: center;
      position: relative;
      overflow: hidden;
}
.populars:hover{
      transform: scale(.7);
      transition: transform 3s ease-in-out;
      color:coral;

}
.collections{
      display: grid;
      grid-template-columns: repeat(3,1fr);
}
.collection
{
      border: 5px solid whitesmoke;
      border-radius: 15px;
      /* background-color:rgba(187, 64, 19, 0.774) */
      padding: 15px;
      margin: 60px;
}
.fa-star.field{
      color:#ffc014
      ;
}
.see{
      border: 1px solid white;
      color: tomato;
      justify-content:space-evenly;
      margin-left: 85%;
      
}
.opti{
      display: flex;
      border: 5px solid whitesmoke ;
      padding: 15px;
      margin: 20px;
      
}
/* -----
FOOTER
-------*/

.foot{
      text-align: center;
      border: 1px solid white;
      background-color: rgba(8, 8, 129, 0.925);
}
/*--------------- 
  MEDIA QUERIES
----------------- */

/* MOBILE DEVICES */

@media only screen and (max-width:688px) {
       .collections {
            grid-template-columns: repeat(1,1fr);
            flex-direction: column;
            width: 100%;

      }
      .influencers{
           flex-direction: column;
            grid-template-columns: repeat(1,1fr);
            
            width: 100%;
          
          
      }
      .opti{
            flex-direction: column;
            grid-template-columns: repeat(1,1fr);
            
            width: 100%;
      } 


}
      
/*------
  teblet
  ------- */

  @media only screen and(min-width:687px and max-width:992px) {
      .collections {
            grid-template-columns: repeat(1,1fr);
            width: 100%;  
        
  }